.editBook {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem; }

.editBook__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px; }

.editBook__input, .editBook__select {
  height: 20px;
  width: 205px;
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.15); }
  .editBook__input.editBook__select, .editBook__select.editBook__select {
    width: 215px;
    height: 30px; }

.buttons__save, .buttons__cancel {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
  margin-right: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; }
  .buttons__save.buttons__cancel, .buttons__cancel.buttons__cancel {
    background-color: #fdbd00; }
  .buttons__save.buttons__save, .buttons__cancel.buttons__save {
    background-color: #2da94f; }

.editBook__error {
  font-size: 12px;
  padding: 5px 0px;
  color: #c3352e; }
