$color-secondary: #fff
$color-edit: #2da94f
$color-delete: #c80000

.genre
    width: 100%
    background-color: $color-secondary
    border-radius: 5px
    box-shadow: 0 4px 25px rgba(0,0,0,.15)
    margin-bottom: 1rem

.genre__container
    padding: 20px

.genre__name
    margin: 0
    text-transform: capitalize
    margin-bottom: .5rem

.buttons__delete, .buttons__edit
    width: 100px
    height: 30px
    border-radius: 4px
    border: none
    margin-right: 1rem
    color: $color-secondary
    cursor: pointer
    font-size: 14px
    &.buttons__delete
        background-color: $color-delete
    &.buttons__edit
        background-color: $color-edit