.navbar__container {
  background-color: #121212;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  padding: 0px 40px;
  text-decoration: none;
  color: #0090c6;
  font-weight: bold;
  cursor: pointer;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 20px; }

.link__books, .link__genres {
  padding: 0px 40px;
  text-decoration: none;
  color: #0090c6;
  font-weight: bold;
  cursor: pointer;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 20px;
  text-transform: uppercase; }
